@import "bootstrap";

html {
	height: 100%;
}

body {
	height: 100%;
	margin: 0;	
    background-repeat: no-repeat;
    background-attachment: fixed;
	@include directional-gradient($gray -0%, $grayDark 100%, -45deg);
}

.topbar {
	
	h3 {
		padding-left: 10px;
	}
}

.container {
	width: auto;
}

.content {
	padding: 40px;
	
}