@import "bootstrap/variables";
@import "bootstrap/mixins";

div.panels {
	background-color: #B4E5FA;
	-webkit-border-top-left-radius: 20px;
	-moz-border-radius-topleft: 20px;
	border-top-left-radius: 20px;
	-webkit-border-top-right-radius: 20px;
	-moz-border-radius-topright: 20px;
	border-top-right-radius: 20px;
	
	@include box-shadow(0 4px 5px rgba(0,0,0,.3));	
	@include clearfix();
	
	div.panel-container {
		
		position: relative;
		max-width: 940px; 
		position: fixed;
		
		div.panel {
			background-color: $white;
			width: 300px;
			height: 400px;
			float: left;
			position: absolute;
			margin: 20px 0 0;
			
			margin-left: 0px;
			
			transition: all ease-out 1s;
			-moz-transition: all ease-out 1s;
			-webkit-transition: all ease-out 1s;
			-o-transition: all ease-out 1s;
		
			&.active {
				margin-left: 503px;
				
				transition: all ease-out 1s;
				-moz-transition: all ease-out 1s;
				-webkit-transition: all ease-out 1s;
				-o-transition: all ease-out 1s;
			}
			
			a.close {
				background-repeat: no-repeat;
				text-indent: -9999px;
				width: 16px;
				display: block;
				float: right;
				
				background-image: url(icons/cross.png);
			}
		
		}
	}

	div.right {
		background-color: $white;
		width: 500px;
		float: left;
		position: relative;
		border-right: 3px solid $grayLighter;
		z-index: 4;
		
		-webkit-border-top-left-radius: 20px;
		-moz-border-radius-topleft: 20px;
		border-top-left-radius: 20px;
		
		div.filter {
			background: #f5f5f5;
			padding: 20px 20px 10px;
			border-bottom: 1px solid #ddd;
			
			-webkit-border-top-left-radius: 20px;
			-moz-border-radius-topleft: 20px;
			border-top-left-radius: 20px;
			
			input {
				width: 450px;
			}
		}
	
		ul.products {
			margin: 20px 0 0;
	
			li {
				display: block;
			
				&.cat {
					color: $grayLight;
					text-shadow: 0 1px 1px rgba(0,0,0,.35);
					font-size: 30px;
					text-transform: capitalize;
					padding: 5px 0 5px 20px;
					margin: 20px 0;
				}
			
				&.product {
					color: $grayDark;
					font-weight: bold;
					padding: 5px 30px;
					border-bottom: 1px solid $grayLighter;
					
					&:hover {
						background-color: #f5f5f5;
					}
					
					span.actions {
						background: none;
						border: none;
						margin: 0;
						padding: 0;
						@include clearfix();
						
						a {
							background-repeat: no-repeat;
							text-indent: -9999px;
							width: 16px;
							display: block;
							float: left;
							
							&.cart {
								background-image: url(icons/cart.png);
							}
							
							&.favorite {
								margin-left: 10px;
								background-image: url(icons/heart.png);
							}
							
						}
					}
				}
			
			}
		
		}
	}

	div.left {
		width: 360px;
		float: right;
		padding: 20px 20px;
	}
}

