<div class="panels">
	<div class="right">
		<div class="filter">
			<form class="" action="">
				<input type="text" placeholder="Search" />
			</form>
		</div>
		<ul class="products">
			<li class="cat">
				Vlees
			</li>
			<li class="product">
				<h3>Dagelijks broodje</h3>
				<p class="description">
					(kaas, sla, ajuin, ei)
				</p>
				<span class="actions" style="display: none;">
					<a href="" class="cart" title='add to cart'>add to cart</a>
					<a href="" class="favorite" title='favorite'>favorite</a>
				</span>
			</li>
			<li class="product">
				<h3>Dagelijks broodje</h3>
				<p class="description">
					(kaas, sla, ajuin, ei)
				</p>
			</li>
			<li class="product">
				<h3>Dagelijks broodje</h3>
				<p class="description">
					(kaas, sla, ajuin, ei)
				</p>
			</li>
			<li class="product">
				<h3>Dagelijks broodje</h3>
				<p class="description">
					(kaas, sla, ajuin, ei)
				</p>
			</li>
			<li class="cat">
				Speciaal
			</li>
			<li class="product">
				<h3>Dagelijks broodje</h3>
				<p class="description">
					(kaas, sla, ajuin, ei)
				</p>
			</li>
			<li class="product">
				<h3>Dagelijks broodje</h3>
				<p class="description">
					(kaas, sla, ajuin, ei)
				</p>
			</li>
			<li class="product">
				<h3>Dagelijks broodje</h3>
				<p class="description">
					(kaas, sla, ajuin, ei)
				</p>
			</li>
			<li class="product">
				<h3>Dagelijks broodje</h3>
				<p class="description">
					(kaas, sla, ajuin, ei)
				</p>
			</li>
			<li class="product">
				<h3>Dagelijks broodje</h3>
				<p class="description">
					(kaas, sla, ajuin, ei)
				</p>
			</li>
			<li class="product">
				<h3>Dagelijks broodje</h3>
				<p class="description">
					(kaas, sla, ajuin, ei)
				</p>
			</li>
			<li class="cat">
				Dagelijks
			</li>
			<li class="product">
				<h3>Dagelijks broodje</h3>
				<p class="description">
					(kaas, sla, ajuin, ei)
				</p>
			</li>
			<li class="product">
				<h3>Dagelijks broodje</h3>
				<p class="description">
					(kaas, sla, ajuin, ei)
				</p>
			</li>
			<li class="cat">
				Vis
			</li>
			<li class="product">
				<h3>Dagelijks broodje</h3>
				<p class="description">
					(kaas, sla, ajuin, ei)
				</p>
			</li>
			<li class="cat">
				Gewoon
			</li>
			<li class="product">
				<h3>Dagelijks broodje</h3>
				<p class="description">
					(kaas, sla, ajuin, ei)
				</p>
			</li>
			<li class="product">
				<h3>Dagelijks broodje</h3>
				<p class="description">
					(kaas, sla, ajuin, ei)
				</p>
			</li>
			<li class="product">
				<h3>Dagelijks broodje</h3>
				<p class="description">
					(kaas, sla, ajuin, ei)
				</p>
			</li>
			<li class="product">
				<h3>Dagelijks broodje</h3>
				<p class="description">
					(kaas, sla, ajuin, ei)
				</p>
			</li>
		</ul>
	</div>
	<div class="panel-container">
		<div class="panel">
			<a class="close" href="#">close</a>
			panel
		</div>
	</div>
	<div class="left">
		here the cart of today .. 
	</div>
</div>