<div class="filter">
	<form class="" action="">
		<input type="text" placeholder="Search">
	</form>
	<ul class="type-filter">
		<li class="blue"><a href="#" data-placement="below" rel='twipsy' title='Vlees filter'>Vlees</a></li>
		<li class="green"><a href="#" data-placement="below" rel='twipsy' title='Speciaal filter'>Speciaal</a></li>
		<li class="red"><a href="#" data-placement="below" rel='twipsy' title='Vis filter'>Vis</a></li>
		<li class="pink"><a href="#" data-placement="below" rel='twipsy' title='Dagelijkse filter'>Dagelijks</a></li>
		<li class="orange"><a href="#" data-placement="below" rel='twipsy' title='Brood filter'>Brood</a></li>
	</ul>
</div>

<ul class="products">
	<li class="cat">
		Vlees
	</li>
	<li class="product blue-light">
		<a href="#">Dagelijks broodje</a>
	</li>
	<li class="product blue-light">
		<a href="#">Dagelijks broodje</a>
	</li>
	<li class="product blue-light">
		<a href="#">Dagelijks broodje</a>
	</li>
	<li class="product blue-light">
		<a href="#">Dagelijks broodje</a>
	</li>
	<li class="cat">
		Speciaal
	</li>
	<li class="product pink">
		<a href="#">Bouleke</a>
	</li>
	<li class="product pink">
		<a href="#">Bouleke</a>
	</li>
	<li class="product pink">
		<a href="#">Bouleke</a>
	</li>
	<li class="product pink">
		<a href="#">Bouleke</a>
	</li>
	<li class="product pink">
		<a href="#">Bouleke</a>
	</li>
	<li class="product pink">
		<a href="#">Bouleke</a>
	</li>
	<li class="cat">
		Vegetarisch
	</li>
	<li class="product blue">
		<a href="#">Dagelijks broodje</a>
	</li>
	<li class="product blue">
		<a href="#">Dagelijks broodje</a>
	</li>
	<li class="cat">
		Vis
	</li>
	<li class="product green-light">
		<a href="#">Dagelijks broodje</a>
	</li>
	<li class="cat">
		Gewoon
	</li>
	<li class="product green">
		<a href="#">Bouleke</a>
	</li>
	<li class="product green">
		<a href="#">Bouleke</a>
	</li>
	<li class="product green">
		<a href="#">Bouleke</a>
	</li>
	<li class="product green">
		<a href="#">Bouleke</a>
	</li>
	<li class="product green">
		<a href="#">Bouleke</a>
	</li>
	<li class="product green">
		<a href="#">Bouleke</a>
	</li>
	<li class="product green">
		<a href="#">Bouleke</a>
	</li>
	<li class="cat">
		Dagelijks
	</li>
	<li class="product red-light">
		<a href="#">Dagelijks broodje</a>
	</li>
	<li class="product red-light">
		<a href="#">Dagelijks broodje</a>
	</li>
	<li class="product red-light">
		<a href="#">Dagelijks broodje</a>
	</li>
	<li class="product red-light">
		<a href="#">Dagelijks broodje</a>
	</li>
	<li class="cat">
		Nog iets anders
	</li>
	<li class="product red">
		<a href="#">Dagelijks broodje</a>
	</li>
	<li class="product red">
		<a href="#">Dagelijks broodje</a>
	</li>
	<li class="product red">
		<a href="#">Dagelijks broodje</a>
	</li>
	<li class="product red">
		<a href="#">Dagelijks broodje</a>
	</li>
	<li class="product red">
		<a href="#">Dagelijks broodje</a>
	</li>
	<li class="product red">
		<a href="#">Dagelijks broodje</a>
	</li>
	<li class="product red">
		<a href="#">Dagelijks broodje</a>
	</li>
	<li class="cat">
		Brood
	</li>
	<li class="product orange">
		<a href="#">Dagelijks broodje</a>
	</li>
	<li class="product orange">
		<a href="#">Dagelijks broodje</a>
	</li>
	<li class="product orange">
		<a href="#">Dagelijks broodje</a>
	</li>
	<li class="product orange">
		<a href="#">Dagelijks broodje</a>
	</li>
	<li class="product orange">
		<a href="#">Dagelijks broodje</a>
	</li>
	<li class="product orange">
		<a href="#">Dagelijks broodje</a>
	</li>
	<li class="product orange">
		<a href="#">Dagelijks broodje</a>
	</li>
	<li class="product orange">
		<a href="#">Dagelijks broodje</a>
	</li>
	<li class="product orange">
		<a href="#">Dagelijks broodje</a>
	</li>
</ul>