<ul class="product products">
	<li class="cat">
		Vlees
	</li>
	<li class="product blue-light">
		<a href="#">Dagelijks broodje</a>
	</li>
	<li class="product blue-light">
		<a href="#">Dagelijks broodje</a>
	</li>
	<li class="product blue-light">
		<a href="#">Dagelijks broodje</a>
	</li>
	<li class="product blue-light">
		<a href="#">Dagelijks broodje</a>
	</li>
	<li class="cat">
		Speciaal
	</li>
	<li class="product pink">
		<a href="#">Bouleke</a>
	</li>
	<li class="product pink">
		<a href="#">Bouleke</a>
	</li>
	<li class="product pink">
		<a href="#">Bouleke</a>
	</li>
	<li class="product pink">
		<a href="#">Bouleke</a>
	</li>
	<li class="product pink">
		<a href="#">Bouleke</a>
	</li>
	<li class="product pink">
		<a href="#">Bouleke</a>
	</li>
	<li class="cat">
		Vegetarisch
	</li>
	<li class="product blue">
		<a href="#">Dagelijks broodje</a>
	</li>
	<li class="product blue">
		<a href="#">Dagelijks broodje</a>
	</li>
	<li class="cat">
		Vis
	</li>
	<li class="product green-light">
		<a href="#">Dagelijks broodje</a>
	</li>
	<li class="cat">
		Gewoon
	</li>
	<li class="product green">
		<a href="#">Bouleke</a>
	</li>
	<li class="product green">
		<a href="#">Bouleke</a>
	</li>
	<li class="product green">
		<a href="#">Bouleke</a>
	</li>
	<li class="product green">
		<a href="#">Bouleke</a>
	</li>
	<li class="product green">
		<a href="#">Bouleke</a>
	</li>
	<li class="product green">
		<a href="#">Bouleke</a>
	</li>
	<li class="product green">
		<a href="#">Bouleke</a>
	</li>
	<li class="cat">
		Dagelijks
	</li>
	<li class="product red-light">
		<a href="#">Dagelijks broodje</a>
	</li>
	<li class="product red-light">
		<a href="#">Dagelijks broodje</a>
	</li>
	<li class="product red-light">
		<a href="#">Dagelijks broodje</a>
	</li>
	<li class="product red-light">
		<a href="#">Dagelijks broodje</a>
	</li>
	<li class="cat">
		Nog iets anders
	</li>
	<li class="product red">
		<a href="#">Dagelijks broodje</a>
	</li>
	<li class="product red">
		<a href="#">Dagelijks broodje</a>
	</li>
	<li class="product red">
		<a href="#">Dagelijks broodje</a>
	</li>
	<li class="product red">
		<a href="#">Dagelijks broodje</a>
	</li>
	<li class="product red">
		<a href="#">Dagelijks broodje</a>
	</li>
	<li class="product red">
		<a href="#">Dagelijks broodje</a>
	</li>
	<li class="product red">
		<a href="#">Dagelijks broodje</a>
	</li>
	<li class="cat">
		Brood
	</li>
	<li class="product orange">
		<a href="#">Dagelijks broodje</a>
	</li>
	<li class="product orange">
		<a href="#">Dagelijks broodje</a>
	</li>
	<li class="product orange">
		<a href="#">Dagelijks broodje</a>
	</li>
	<li class="product orange">
		<a href="#">Dagelijks broodje</a>
	</li>
	<li class="product orange">
		<a href="#">Dagelijks broodje</a>
	</li>
	<li class="product orange">
		<a href="#">Dagelijks broodje</a>
	</li>
	<li class="product orange">
		<a href="#">Dagelijks broodje</a>
	</li>
	<li class="product orange">
		<a href="#">Dagelijks broodje</a>
	</li>
	<li class="product orange">
		<a href="#">Dagelijks broodje</a>
	</li>
</ul>